name: Release
on:
  push:
    branches: [ main ]

permissions:
  contents: read

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write  # To create commits/tags and GitHub Releases
      issues: write    # To comment on released issues
      pull-requests: write # To comment on released PRs
      id-token: write  # Required for npm trusted publishing (if you publish)
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Required for semantic-release to analyze the full commit history
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
      - name: Install dependencies
        run: npm clean-install
      - name: Verify installed package integrity
        run: npm audit signatures
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release
